<!DOCTYPE html>
<html>
  <head>
    <script src="../javaS.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Date personale</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../images/BCR_icon.png" />
  </head>
  <body>
    <div class="header">
      <a href="../home.html"
        ><i
          id="backButton"
          class="fa fa-chevron-left"
          aria-hidden="true"
          style="color: white"
        ></i
      ></a>
      <!-- <i id = "backButton" class="fa fa-chevron-left" aria-hidden="true"></i> -->
      <p class="fontBcr" style="font-size: larger">
        Introduceti datele personale
      </p>
      <img alt="" id="imgClickAndChange" style="width:25px; height: auto;"
      onclick="changeImage()" src="../images/ro.png" /img>
    </div>
  </body>
</html>
