<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        
        <script src="/resurse/js/branches.js" ></script>
        <title>BCR-Branches</title>
    </head>
    <body>
        <main>
            <main>
                <label> Nume: <input type="text" id="inp-nume"></label>
                <p>
                    <button id="filtrare">Filtreaza</button> <button id="resetare">Reseteaza</button><br/>
                    
                </p>
                <div id="divFiltrare">
                    <p id="pFiltrare"></p>
                </div>    
        </main>    
    </body>
</html>    