<!DOCTYPE html>
<html>
  <head>
    
    <script src="javaS.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>A</title>
    <meta charset="utf-8" />
    <link rel="icon" href="images/BCR_icon.png" />
  </head>

  <body>
    <div class="header">
      <i id = "backButton" class="fa fa-chevron-left" aria-hidden="true"></i>
      <p class = "fontBcr" style="font-size:larger;">Alege scopul vizitei</p>
      <img alt="" id="imgClickAndChange" style="max-width: 2%; height: auto;"   onclick="changeImage()" src="./images/ro.png"> </img>
      
    </div>
  </body>
</html>
