* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
.header {
  color: white;
  background: #00497b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  display: flex;
  padding: 0.5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body {
  background-color: #d7efff;
}
#backButton {
  cursor: pointer;
  scale: 1;
  transition: 0.4s;
}
#backButton:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  scale: 1.5;
  transition: 0.4s;
}
#imgClickAndChange {
  cursor: pointer;
  scale: 1;
  transition: 0.4s;
}
#imgClickAndChange:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  scale: 1.5;
  transition: 0.4s;
}
@font-face {
  font-family: fontBcr;
  src: url(../pagini/fonts/Neo\ Sans\ Std\ Bold.otf);
}
@font-face {
  font-family: fontBcrRegular;
  src: url(../pagini/fonts/Neo\ Sans\ Std\ Regular.otf);
}
@font-face {
  font-family: fontBcrLight;
  src: url(../pagini/fonts/Neo\ Sans\ Std\ Light.otf);
}
.fontBcr {
  font-family: fontBcr;
}
.fontBcrRegular {
  font-family: fontBcrRegular;
}
.fontBcrLight {
  font-family: fontBcrLight;
}
.footer {
  width: 100%;
  text-align: center;
  /* padding: 30px 0; */
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
.fa-heart-o {
  color: #ea556f;
}