<!DOCTYPE html>
<html>
  <head>
    <script src="../javaS.js"></script>
    <meta charset="utf-8" />
    <link rel="icon" href="../images/BCR_icon.png" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Hartă</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="header">
      <a href="../pagini/subjectOptions.html"
        ><i
          id="backButton"
          class="fa fa-chevron-left"
          aria-hidden="true"
          style="color: white"
        ></i
      ></a>
      <!-- <i id = "backButton" class="fa fa-chevron-left" aria-hidden="true"></i> -->
      <p class="fontBcr" style="font-size: larger">Drumul spre BCR-ul tău</p>
      <img alt="" id="imgClickAndChange" style="width:25px; height: auto;"
      onclick="changeImage()" src="../images/ro.png" /img>
    </div>
    <section class="location">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2847.2870622788932!2d26.0938774!3d44.4682883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b2020c5fbe6573%3A0xa1f27bbd9b583f0b!2sStrada%20Moliere%2012%2C%20Bucure%C8%99ti!5e0!3m2!1sro!2sro!4v1669594834278!5m2!1sro!2sro"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </section>
  </body>
</html>
